<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice</title>
    <link rel="stylesheet" href="styles/login.css">
</head>
<body>
    
        <div class="box con">
            <h1>LOGIN</h1>
            <br>
            <div class="box login-page">
                <form action="/login" method="POST">
                    
                    <input type="text" name="f_username" placeholder="Username" required>
                    <br><br>
                    
                    <input type="password" name="f_password" placeholder="Password" required>
                    <br><br>
                    <input type="checkbox" placeholder="Remember on this device" required>
                    <label for="Remember">Remember on this device</label>
                    <br><br>
                    <button type="submit" class="btn">Login</button>
                </form>

            </div>
        
        </div>
        
    <!-- <script type="text" src="script.js"></script> -->
</body>
</html>